@import "global";

/*
# lalala

```markup
<div class="hola">hola!</div>
```
dfdsfsdfdsf

sdfdsfdsfdsf

dsfdsfdsfdsfds


```javascript
alert('hola');
```
*/


/*

```
	├───css
	│      ├───prism
	│   └───vendor
	├───js
	│   ├───libs
	│   │   ├───backbone
	│   │   ├───fixie
	│   │   ├───jquery
	│   │   ├───jscssp
	│   │   ├───less
	│   │   ├───marked
	│   │   ├───pagedown
	│   │   ├───parseuri
	│   │   ├───prism
	│   │   ├───require
	│   │   ├───sassjs
	│   │   │   ├───bin
	│   │   │   │   └───closure-compiler
	│   │   │   │       └───build
	│   │   │   ├───dist
	│   │   │   ├───scss
	│   │   │   │   └───deeper
	│   │   │   ├───src
	│   │   │   └───test
	│   │   ├───showdown
	│   │   └───underscore
	│   └───views
	│       └───style
	├───less
	├───scss
	│   └───bourbon
	│       ├───addons
	│       ├───css3
	│       ├───functions
	│       └───helpers
	└───templates
			└───style
```

*/

$baseFontSize: 16;
$bgColor: red;
$color: blue;

.hola {
	background: $bgColor;
	color: $color;
}