@import "kaleistyleguide/scss/mixins.scss";

/*
# lalala

```markup
<div class="hola">hola!</div>
```
dfdsfsdfdsf

sdfdsfdsfdsf

dsfdsfdsfdsfds


```javascript
alert('hola');
```

*/

$baseFontSize: 16;
$bgColor: red;
$color: blue;

.hola {
	background: $bgColor;
	color: $color;
	@include font-size(100);
}