@import "bourbon/bourbon";
@import "mixins";

$fontColor: #515151;
$fontFamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize: 16;
$linkColor: #0090d4;
$linkColorActive: darken($linkColor, 9);
$menuColor: #515151;
$menuColorActive: darken($menuColor, 9);
$boxShadow: 0 2px 6px -2px rgba(0, 0, 0, 0.33);
$boxShadowInsetTop: inset 0px 2px 6px -3px rgba(0,0,0,0.3);
$boxShadowInsetBottom: inset 0px -2px 6px -3px rgba(0,0,0,0.3);

@include keyframes(slideOpen) {
	from {
		@include transform(translateX(0));
	}
	to {
		@include transform(translateX(100%));
	}
}

@include keyframes(slideClosed) {
	from {
		@include transform(translateX(100%));
	}
	to {
		@include transform(translateX(0));
	}
}

.nav-open .kalei-menu {
	@include animation-name(slideOpen);
	@include animation-duration(.3s);
	@include animation-timing-function(ease-out);
	@include animation-fill-mode(forwards);
	@include prefixer(backface-visibility, hidden, webkit moz spec);
}

.kalei-menu {
	@include animation-name(slideClosed);
	@include animation-duration(.2s);
	@include animation-timing-function(ease-in);
	@include animation-fill-mode(forwards);
	@include prefixer(backface-visibility, hidden, webkit moz o spec);
}

.loading .kalei-menu {
	@include animation(none);
}

@media only screen and (max-width : 1023px) {
	.kalei-menu {
		left: -50%;
		width: 50%;
		z-index: 3;
	}
	.kalei-page {
		width: 100%;
	}
	.nav-open {
		.kalei-page {
			&:before {
				background-color: #000;
				content: "";
				display: block;
				height: 100%;
				opacity: 0.5;
				filter: alpha(opacity=50);
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 1;
			}
		}
	}
}