// MENU - start

.kalei-menu {
	height: 100%;
	position: fixed;
}

.kalei-menu__list { // ul
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: $boxShadow;
	@include prem(bottom, 20);
	@include prem(left, 20);
	list-style-type: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	@include prem(right, 0);
	@include prem(top, 20);
}

.kalei-menu__list__item { // ul > li
	> h1 {
		background-color: $menuColorActive;
		@include font-size(22);
		@include max-ellipsis(100%);
		@include prem(padding-bottom, 10);
		@include prem(padding-left, 20);
		@include prem(padding-top, 10);
		@include prem(padding-right, 10);
	}
	> h2 {
		@include font-size(16);
	}
	> h1,
	> h2 {
		color: #fff;
		@include prem(margin, 0);
	}
}


.kalei-menu__list__item__list { // ul > li > ul
	margin: 0;
	padding: 0;
}

.kalei-menu__list__item__link {
	color: $menuColor;
	display: block;
	font-weight: bold;
	@include prem(padding, 10 10 10 20);
	position: relative;
	text-decoration: none;
	@include max-ellipsis(100%);
	&:hover {
		text-decoration: underline;
	}
	&:after { // Triangle
		@include triangle(right, $menuColor, 6);
		@include prem(margin-left, 9);
		@include prem(margin-top, -6);
		top: 50%;
	}
	&.active {
		background: $menuColor;
		color: #fff;
		text-decoration: none;
		&:hover {
			cursor: pointer;
		}
		&:after { // Triangle when .active
			@include triangle(down, #fff, 6);
			@include prem(margin-left, 6);
			@include prem(margin-top, -3);
			top: 50%;
		}
		&:active {
			&:after { // Triangle when .active:active
				@include triangle(down, #fff, 6);
				@include prem(margin-left, 6);
				@include prem(margin-top, -3);
				top: 50%;
			}
		}
	}
	&:active {
		cursor: default;
		&:after { // Triangle when :active
			@include triangle(down, $menuColor, 6);
			@include prem(margin-left, 6);
			@include prem(margin-top, -3);
			top: 50%;
		}
	}
}

.kalei-sheet-submenu {
	ul {
		list-style-type: disc;
		@include prem(padding-top, 10);
		@include prem(padding-bottom, 10);
	}
	li {
		color: $menuColor;
		cursor: pointer;
		@include prem(padding-right, 20);
		h3 {
			@include inline-block;
			@include font-size(14);
			font-weight: normal;
			margin: 0;
			@include max-ellipsis(100%);
			vertical-align: middle;
		}
		&:hover{
			h3 {
				text-decoration: underline;
			}
		}
		&.active {
			cursor: default;
			h3 {
				background: $menuColor;
				border-radius: 4px;
				color: #fff;
				@include prem(padding, 0 4);
			}
			&:hover{
				h3 {
					text-decoration: none;
				}
			}
		}
	}
}

// MENU - end

// KALEI PAGE - start

.kalei-page {
	@include prem(padding, 20);
	p,
	ol,
	ul { // So it doesn't mess with PrismJs styles on <pre> and <code> blocks
		a {
			color: $linkColor;
			text-decoration: none;
			white-space: normal;
			@include hyphenation;
			&:hover {
				text-decoration: underline;
			}
		}
		code { // Inline <code> blocks
			background: $fontColor;
			border-radius: 4px;
			color: #fff;
			display: inline-block;
			@include prem(margin-left, 2);
			@include prem(margin-right, 2);
			@include prem(padding-left, 4);
			@include prem(padding-right, 4);
			white-space: normal;
			@include hyphenation;
		}
	}
}

.kalei-page__item {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: $boxShadow;
	@include prem(margin, 0 0 20 0);
	@include prem(padding, 20);
	position: relative;
}

.code-render {
	background-color: rgba(244, 244, 244, 0.25);
	border-radius: 4px;
	box-shadow: $boxShadowInsetTop, $boxShadowInsetBottom;
	@include prem(padding, 40);
	@include prem(margin-bottom, 16);
}

.code-lang {
	background: $linkColor;
	border-radius: 4px 4px 0 0;
	color: #fff;
	@include inline-block;
	@include prem(padding, 8 20);
	text-transform: uppercase;
	+ pre,
	+ pre[class*="language-"] {
		border-radius: 0 4px 4px 4px;
	}
}

pre,
pre[class*="language-"] {
	border-radius: 4px;
	box-shadow: $boxShadowInsetBottom;
	font-size: 14px;
	margin: 0;
	@include prem(padding, 40);
}





// @include keyframes(slideOpen) {
// 	from {
// 		@include transform(translateX(0));
// 	}
// 	to {
// 		@include transform(translateX(75%));
// 	}
// }

// @include keyframes(slideClosed) {
// 	from {
// 		@include transform(translateX(75%));
// 	}
// 	to {
// 		@include transform(translateX(0));
// 	}
// }

// .nav-open {
// 	.kalei {
// 		@include animation-name(slideOpen);
// 		@include animation-duration(.3s);
// 		@include animation-timing-function(ease-out);
// 		@include animation-fill-mode(forwards);
// 		@include prefixer(backface-visibility, hidden, webkit moz spec);
// 	}
// }

// .kalei {
// 	@include animation-name(slideClosed);
// 	@include animation-duration(.2s);
// 	@include animation-timing-function(ease-in);
// 	@include animation-fill-mode(forwards);
// 	@include prefixer(backface-visibility, hidden, webkit moz o spec);
// }

// .loading {
// 	.kalei-menu {
// 		@include animation(none);
// 	}
// }

// .loading .kalei-nav {
// 	@include animation(none);
// }


.kalei-nav {
	display: none;
	background-color: $fontColor;
	color: #fff;
	cursor: pointer;
	left: 0;
	@include prem(padding, 10);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

#nav-toggle {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2221%22%20height%3D%2224%22%20viewBox%3D%220%200%2021%2024%22%3E%0A%09%3Cpath%20d%3D%22M20.571%2018v1.714q0%200.348-0.254%200.603t-0.603%200.254h-18.857q-0.348%200-0.603-0.254t-0.254-0.603v-1.714q0-0.348%200.254-0.603t0.603-0.254h18.857q0.348%200%200.603%200.254t0.254%200.603zM20.571%2011.143v1.714q0%200.348-0.254%200.603t-0.603%200.254h-18.857q-0.348%200-0.603-0.254t-0.254-0.603v-1.714q0-0.348%200.254-0.603t0.603-0.254h18.857q0.348%200%200.603%200.254t0.254%200.603zM20.571%204.286v1.714q0%200.348-0.254%200.603t-0.603%200.254h-18.857q-0.348%200-0.603-0.254t-0.254-0.603v-1.714q0-0.348%200.254-0.603t0.603-0.254h18.857q0.348%200%200.603%200.254t0.254%200.603z%22%20fill%3D%22%23ffffff%22%20/%3E%0A%3C/svg%3E%0A');
	@include prem(height, 24);
	@include prem(width, 24);
}

@media only screen and (max-width : 1023px) {
	.kalei {
		overflow: hidden;
	}
	.kalei-nav {
		display: block;
	}
	.kalei-menu {
		left: -75%;
		width: 75% !important;
		z-index: 3;
	}
	.kalei-page {
		width: 100% !important;
	}
	.kalei-menu__list {
		border: none;
		border-radius: 0;
		bottom: 0;
		left: 0;
		top: 0;
	}
	.nav-open {
		.kalei-nav {
			left: 75%;
		}
		.kalei-menu {
			box-shadow: 0px 0px 30px 0px #000;
			left: 0;
		}
		.kalei-page {
			position: relative;
			left: 75%;
		}
	}
}