// MENU - start

@include keyframes(slideOpen) {
	from {
		@include transform(translateX(0));
	}
	to {
		@include transform(translateX(300px));
	}
}

@include keyframes(slideClosed) {
	from {
		@include transform(translateX(300px));
	}
	to {
		@include transform(translateX(0));
	}
}

.nav-open {
	.kalei-menu,
	.kalei-page,
	.kalei-nav {
		@include animation-name(slideOpen);
		@include animation-duration(.3s);
		@include animation-timing-function(ease-out);
		@include animation-fill-mode(forwards);
		@include prefixer(backface-visibility, hidden, webkit moz spec);
	}
}

.kalei-menu,
.kalei-page,
.kalei-nav {
	@include animation-name(slideClosed);
	@include animation-duration(.2s);
	@include animation-timing-function(ease-in);
	@include animation-fill-mode(forwards);
	@include prefixer(backface-visibility, hidden, webkit moz o spec);
}

.loading {
	.kalei-menu {
		@include animation(none);
	}
}

.kalei-nav {
	display: none;
	background-color: $fontColor;
	color: #fff;
	left: 0;
	@include prem(padding, 10);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.loading .kalei-nav {
	@include animation(none);
}

@media only screen and (max-width : 1023px) {
	.kalei-wrapper {
		overflow: hidden;
	}
	.kalei-nav {
		display: block;
	}
	.kalei-menu {
		left: -300px;
		width: 300px !important;
		z-index: 3;
	}
	.kalei-page {
		width: 100% !important;
		overflow-x: hidden;
	}
	.nav-open {
		.kalei-page {
			overflow: hidden;
		}
		.kalei-menu {
			box-shadow: 0px 0px 30px 0px #000;
		}
		.kalei-menu__list {
			border: none;
			border-radius: 0;
			bottom: 0;
			left: 0;
			top: 0;
		}
	}
}

.kalei-menu {
	height: 100%;
	position: fixed;
}

.kalei-menu__heading > h1,
.kalei-menu__list__item > h3 {
	background-color: $menuColorActive;
	color: #fff;
	@include prem(margin, 0);
	@include prem(padding-bottom, 10);
	@include prem(padding-left, 20);
	@include prem(padding-top, 10);
	@include prem(padding-right, 10);

}

.kalei-menu__heading {
	display: block;
	text-decoration: none;
	h1 {
		@include font-size(22);
		@include max-ellipsis(100%);
	}
}

.kalei-menu__list {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: $boxShadow;
	@include prem(bottom, 20);
	@include prem(left, 20);
	list-style-type: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	@include prem(right, 0);
	@include prem(top, 20);
}

.kalei-menu__list__item {
	> h3 {
		@include font-size(20);
	}
}

.kalei-menu__list__item__list {
	margin: 0;
	padding: 0;
}

.kalei-menu__list__item__link {
	color: $menuColor;
	display: block;
	font-weight: bold;
	@include prem(padding, 10 10 10 20);
	position: relative;
	text-decoration: none;
	@include max-ellipsis(100%);
	&:hover {
		text-decoration: underline;
	}
	&:after { // Triangle
		@include triangle(right, $menuColor, 6);
		@include prem(margin-left, 9);
		@include prem(margin-top, -6);
		top: 50%;
	}
	&.active {
		background: $menuColor;
		color: #fff;
		text-decoration: none;
		&:hover {
			cursor: pointer;
		}
		&:after { // Triangle when .active
			@include triangle(down, #fff, 6);
			@include prem(margin-left, 6);
			@include prem(margin-top, -3);
			top: 50%;
		}
		&:active {
			&:after { // Triangle when .active:active
				@include triangle(down, #fff, 6);
				@include prem(margin-left, 6);
				@include prem(margin-top, -3);
				top: 50%;
			}
		}
	}
	&:active {
		cursor: default;
		&:after { // Triangle when :active
			@include triangle(down, $menuColor, 6);
			@include prem(margin-left, 6);
			@include prem(margin-top, -3);
			top: 50%;
		}
	}
}

.kalei-sheet-submenu {
	ul {
		list-style-type: disc;
		@include prem(padding-top, 10);
		@include prem(padding-bottom, 10);
	}
	li {
		color: $menuColor;
		cursor: pointer;
		@include prem(padding-right, 20);
		span {
			@include inline-block;
			@include font-size(14);
			@include max-ellipsis(100%);
			vertical-align: middle;
		}
		&:hover{
			span {
				text-decoration: underline;
			}
		}
		&.active {
			cursor: default;
			span {
				background: $menuColor;
				border-radius: 4px;
				color: #fff;
				@include prem(padding, 0 4);
			}
			&:hover{
				span {
					text-decoration: none;
				}
			}
		}
	}
}

// MENU - end

// KALEI PAGE - start

.kalei-page {
	@include prem(padding, 20);
	p,
	ol,
	ul { // So it doesn't mess with PrismJs styles on <pre> and <code> blocks
		a {
			color: $linkColor;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		code { // Inline <code> blocks
			background: $fontColor;
			border-radius: 4px;
			color: #fff;
			display: inline-block;
			@include prem(margin-left, 2);
			@include prem(margin-right, 2);
			@include prem(padding-left, 4);
			@include prem(padding-right, 4);
			white-space: normal;
			@include hyphenation;
		}
	}
}

.kalei-page__item {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: $boxShadow;
	@include prem(margin, 0 0 20 0);
	@include prem(padding, 20);
	position: relative;
}

.code-render {
	background-color: rgba(244, 244, 244, 0.25);
	border-radius: 4px;
	box-shadow: $boxShadowInsetTop, $boxShadowInsetBottom;
	@include prem(padding, 40);
	@include prem(margin-bottom, 16);
}

.code-lang {
	background: $linkColor;
	border-radius: 4px 4px 0 0;
	color: #fff;
	@include inline-block;
	@include prem(padding, 8 20);
	text-transform: uppercase;
	+ pre,
	+ pre[class*="language-"] {
		border-radius: 0 4px 4px 4px;
	}
}

pre,
pre[class*="language-"] {
	border-radius: 4px;
	box-shadow: $boxShadowInsetBottom;
	font-size: 14px;
	margin: 0;
	@include prem(padding, 40);
}