@import "partials/global";
@import "vendor/normalize/normalize";

* {
	@include box-sizing(border-box);
	&:before,
	&:after {
		@include box-sizing(border-box);
	}
}

html {
	background-color: $bgColor;
	color: $fontColor;
	font-family: $baseFontFamily;
	@include font-size($baseFontSize);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headerFontFamily;
	color: $fontColor;
	font-weight: 500;
}

blockquote {
	border-left: 4px solid $linkColor;
	@include prem(margin, 40);
	@include prem(padding-left, 12);
	p {
		display: inline;
	}
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}

.oldie { // fallback for IE8
	pre {
		background-color: $fontColor;
	}
	.code-render {
		border: 1px solid #ccc;
	}
}

.video-container { // Responsive video
	height: 0;
	@include prem(margin, 10 0);
	padding-bottom: 56.25%;
	padding-top: 25px;
	position: relative;
	iframe,
	object {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.one-quarter {
	width: 25%;
}

.one-half {
	width: 50%;
}

.three-quarters {
	width: 75%;
}

.grid-1-4 {
	width: percentage(1/4);
}

.grid-1-2 {
	width: percentage(1/2);
}

.grid-1-3 {
	width: percentage(1/3);
}

.grid-3-4 {
	width: percentage(3/4);
}

.grid-full {
	width: 100%;
}

.full-width {
	width: 100%;
}

.inline-list {
	margin: 0;
	padding: 0;
	li {
		float: left;
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

img {
	max-width: 100%;
}

.clearfix {
	@include cf;
}

.is-disabled {
	cursor: default;
	@include opacity(.5);
}

@import "partials/phytoplankton-styles";