@mixin font-size($sizeValue: $baseFontSize, $lineValue: $sizeValue * 1.5) {
	font-size: $sizeValue + px;
	line-height: $lineValue + px;
	font-size: ($sizeValue / $baseFontSize) + rem;
	line-height: ($lineValue / $baseFontSize) + rem;
}

@mixin prem($property, $values, $base-font-size: $baseFontSize) {

	$px-values: ();
	$rem-values: ();

	@each $value in $values {
		@if type-of($value) == number {
			$px-values: join($px-values, #{$value}px);
			$rem-values: join($rem-values, #{$value / $base-font-size}rem);
		}
	}

	#{$property}: $px-values;
	#{$property}: $rem-values;
}

@mixin triangle($direction, $color, $height, $width: $height) {

	@if $direction == "left" {
					border-bottom: $height + px solid transparent;
					border-right: $width + px solid $color;
					border-top: $height + px solid transparent;
	}
	@else if $direction == "right" {
					border-bottom: $height + px solid transparent;
					border-left : $width + px solid $color;
					border-top: $height + px solid transparent;
	}
	@else if $direction == "up" {
					border-bottom: $height + px solid $color;
					border-left: $width + px solid transparent;
					border-right: $width + px solid transparent;
	}
	@else if $direction == "down" {
					border-right: $width + px solid transparent;
					border-left: $width + px solid transparent;
					border-top: $height + px solid $color;
	}

	content: " ";
	height: 0;
	position: absolute;
	width: 0;
}

@mixin max-ellipsis($maxWidth) {
	@include prem(max-width, $maxWidth);
	@include ellipsis;
	word-wrap: normal;
}

@mixin cf() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}