@import "global";

/*
# Kalei Themes

To make sure the code demo's are un-affected by Kaleis own styles we only set a few global styles

The menu is **fixed** and the page contained simply aligns itself 200px from the left.

*/

* {
	@include box-sizing(border-box);
}

html {
	color: $fontColor;
	font-family: $fontFamily;
	@include font-size($baseFontSize);
}

body {
	@include prem(margin, 0);
	@include prem(padding, 0);
}

a {
	color: $linkColor;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.kalei-style-menu-container {
	background: #fff;
	border-right: 1px solid #ccc;
	height: 100%;
	position: fixed;
}

.menu-items {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.kalei-style-page {
	background: #f6f4f4;
	@include prem(padding, 20);
	> .kalei-documentation {
		position: relative;
	}
}

/*
## Headings and paragraphs
```
<div class="kalei-comments">
	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
	<h6>Heading 6</h6>
	<p class="fixie"></p>
	<ul>
	  <li>List Item 1</li>
	  <li>List Item 2</li>
	  <li>List Item 3</li>
	</ul>
</div>

```
*/

.kalei-comments > h1,
.kalei-comments > h2,
.kalei-comments > h3,
.kalei-comments > h4,
.kalei-comments > h5,
.kalei-comments > h5,
.kalei-comments > h6,
.kalei-comments > ul,
.kalei-comments > ol,
.kalei-comments > p,
.kalei-styleguide-menu-heading > h1,
.kalei-styleguide-menu > li > h3,
.kalei-sheet-submenu li,
.kalei-styleguide-menu-stylesheets {
	@include prem(margin, 0);
	@include prem(padding, 10);
}

.kalei-comments > p a,
.kalei-comments > p a:visited {
	padding: 0;
}

.kalei-comments {
	> iframe {
		@include prem(margin-left, 10);
		@include prem(margin-top, 10);
	}
}

.kalei-comments {
	> ul,
	> ol {
		@include prem(margin-left, 20);
	}
}

.kalei-comments {
	> ul,
	> ol,
	> p {
		@include font-size(14);
	}
}

/*
## CSS and Comments Layout

These styles make sure the css code block is floated to the right correctly and the comments on the left

```
<div class="kalei-documentation">

	<div class="kalei-comments-container ">
		<div class="kalei-comments ">
			<p>This is a test Kalei comment.</p>
		</div>
	</div>

</div>
```
*/

.kalei-comments-container {
	position: relative;
	width: 100%;
}

/*
## Code demos

When you use Markdown code blocks ```, Kalei automatically renders the code as HTML and beneath it shows the code block with syntax highlighting.
```
<pre>
	<code>
		.kalei-comments > pre > code,
		.kalei-css-container > pre > code {
			font-size: 11px;
			opacity: 0.7;
			white-space: pre-wrap;
			padding: 10px;
		}
	</code>
</pre>
```
*/

.kalei-comments,
.kalei-css-container {
	> pre {
		> code {
			@include border-radius(3px);
			@include font-size(12);
			@include prem(padding, 10);
			white-space: pre-wrap;
		}
	}
}

.kalei-comments {
	background: #fff;
	border: 1px solid #ccc;
	@include border-radius(3px);
	@include prem(margin, 0 0 20 0);
	@include prem(padding, 20);
	> pre {
		border: 1px solid #ebebeb;
		@include border-radius(0 0 3px 3px);
		@include prem(margin, 0);
		@include prem(padding, 30 20 20 20);
		position: relative;
		@include prem(top, -1);
		> code {
			&:before {
				background-color: $fontColor;
				@include border-radius(0 0 3px 0);
				color: #ebebeb;
				content: "Code";
				font-family: $fontFamily;
				font-size: 12px;
				font-weight: bold;
				@include prem(left, -1);
				@include prem(padding, 3 7);
				position: absolute;
				@include prem(top, -1);
			}
		}
	}
}

.codedemo {
	border: 1px solid #ebebeb;
	@include border-radius(3px 3px 0 0);
	@include prem(padding, 40);
	position: relative;
	.kalei-comments {
		@include prem(margin, 0);
	}
	&:after {
		background-color: $fontColor;
		@include border-radius(3px 0 3px 0);
		color: #ebebeb;
		content: "Example";
		font-family: $fontFamily;
		font-size: 12px;
		font-weight: bold;
		@include prem(left, -1);
		@include prem(padding, 3 7);
		position: absolute;
		@include prem(top, -1);
	}
}

*:not(.codedemo) {
	.kalei-styleguide-menu-heading {
		h1 {
			background-color: $menuColorActive;
			color: #fff;
			@include font-size(22);
			@include prem(margin, 0);
			@include prem(padding-left, 20);
		}
		&:hover {
			color: #222;
		}
	}
	.kalei-styleguide-menu-heading,
	.styleguide-menu-heading:visited {
		text-decoration: none;
	}
	.kalei-styleguide-menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.kalei-styleguide-menu-stylesheets {
	background: #75eb33;
	color: #fff;
	font-weight: bold;
	@include font-size(16);
	@include prem(margin-top, 20);
	@include prem(padding, 10 20);
	@include text-shadow(0 0 1px #777);
}

.kalei-styleguide-menu {
	> li {
		> h3 {
			background-color: $menuColorActive;
			color: #fff;
			font-weight: bold;
			@include font-size(20);
			@include prem(margin-top, 20);
			@include prem(padding, 10 20);
		}
	}
}

.kalei-styleguide-menu-link {
	color: $menuColor;
	display: block;
	@include font-size(16);
	font-weight: bold;
	height: 100%;
	@include prem(padding, 10 10 10 20);
	position: relative;
	@include max-ellipsis(100%);
	&:hover,
	&.active {
		background: $menuColor;
		color: #fff;
		text-decoration: none;
	}
	&:hover {
		&:after {
			@include triangle(right, #fff, 6);
			@include prem(margin-left, 9);
			@include prem(margin-top, -6);
			top: 50%;
		}
	}
	&.active,
	&:active {
		cursor: default;
		&:after {
			@include triangle(down, #fff, 6);
			@include prem(margin-left, 6);
			@include prem(margin-top, -3);
			top: 50%;
		}
	}
	&:after {
		@include triangle(right, $menuColor, 6);
		@include prem(margin-left, 9);
		@include prem(margin-top, -6);
		top: 50%;
	}
}

.kalei-sheet-submenu {
	ul {
		@include prem(margin, 0);
		@include prem(padding, 0);
	}
	li {
		color: $menuColor;
		cursor: pointer;
		@include font-size(14);
		@include prem(padding, 10 10 10 20);
		span {
			@include inline-block;
			@include max-ellipsis(100%);
		}
		&:hover{
			span {
				text-decoration: underline;
			}
		}
		&.active {
			cursor: default;
			span {
				background: $menuColor;
				@include border-radius(12px);
				color: #fff;
				@include prem(padding, 0 8);
				@include prem(margin-left, -8);
			}
			&:hover{
				span {
					text-decoration: none;
				}
			}
		}
	}
}