@import "global";

/*
# Kalei Themes

To make sure the code demos are unaffected by Kalei's own styles we only set a few global styles.

*/

* {
	@include box-sizing(border-box);
	&:before,
	&:after {
		@include box-sizing(border-box);
	}
}

html {
	color: $fontColor;
	font-family: $fontFamily;
	@include font-size($baseFontSize);
}

body {
	@include prem(margin, 0);
	@include prem(padding, 0);
}

.video-container {
	height: 0;
	@include prem(margin, 10 0);
	padding-bottom: 56.25%;
	padding-top: 25px;
	position: relative;
	iframe,
	object {
		// Responsive video
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

// MENU - start

.kalei-menu {
	background-color: #f4f4f4;
	height: 100%;
	position: fixed;
}

.menu-items {
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: $boxShadow;
	@include prem(bottom, 0);
	@include prem(left, 0);
	@include prem(margin-bottom, 20);
	@include prem(margin-left, 20);
	@include prem(margin-right, 20);
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	@include prem(right, 0);
	@include prem(top, 73);
}

// MENU - end

// KALEI PAGE - start

.kalei-page {
	background-color: #f4f4f4;
	@include prem(padding, 20 20 675 20);
	p,
	ol,
	ul { // So it doesn't mess with PrismJs styles on <pre> and <code> blocks
		a {
			color: $linkColor;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		code {
			background: $fontColor;
			border-radius: 10px;
			color: #fff;
			@include prem(padding, 2 6);
		}
	}
}

.kalei-page__item {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: $boxShadow;
	@include prem(margin, 0 0 20 0);
	@include prem(padding, 20);
	position: relative;
	> .codedemo,
	> pre {
		@include prem(padding, 40);
	}
	.codedemo {
		border-radius: 4px 4px 0 0;
		box-shadow: $boxShadowInsetTop;
		> pre {
			margin: 0;
			padding: 0;
		}
	}
	> pre {
		border-radius: 0 0 4px 4px;
		box-shadow: $boxShadowInsetBottom;
		font-size: 14px;
		@include prem(margin, 0);
		@include prem(top, -1);
		> code {
			border-radius: 4px;
		}
	}
}


.kalei-styleguide-menu-heading > h1,
.kalei-styleguide-menu > li > h3,
.kalei-sheet-submenu li,
.kalei-styleguide-menu-stylesheets {
	@include prem(margin, 0);
	@include prem(padding, 10);
}

.kalei-css-container {
	> pre {
		> code {
			border-radius: 4px;
			@include font-size(12);
			@include prem(padding, 10);
			white-space: pre-wrap;
		}
	}
}

.kalei-styleguide-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	> li {
		@include prem(margin-top, 20);
		> h3 {
			background-color: #3a3a3a;
			color: #fff;
			font-weight: bold;
			@include font-size(20);
			@include prem(margin-top, 20);
			@include prem(padding, 10 20);
		}
	}
}

.kalei-styleguide-menu-heading {
	border: 1px solid #3a3a3a;
	border-bottom: 0;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.33);
	@include prem(height, 53);
	@include prem(margin-left, 20);
	@include prem(margin-right, 20);
	@include prem(bottom, 0);
	@include prem(left, 0);
	overflow: hidden;
	position: absolute;
	@include prem(right, 0);
	@include prem(top, 20);
	h1 {
		background-color: $menuColorActive;
		color: #fff;
		@include font-size(22);
		@include prem(margin, 0);
		@include prem(padding-left, 20);
		@include max-ellipsis(100%);
	}
}

.kalei-styleguide-menu-stylesheets {
	background: #75eb33;
	color: #fff;
	font-weight: bold;
	@include font-size(16);
	@include prem(margin-top, 20);
	@include prem(padding, 10 20);
	text-shadow: 0 0 1px #777;
}

.kalei-styleguide-menu-link {
	color: $menuColor;
	display: block;
	font-weight: bold;
	@include prem(padding, 10 10 10 20);
	position: relative;
	@include max-ellipsis(100%);
	&:hover,
	&.active {
		background: $menuColor;
		color: #fff;
		text-decoration: none;
	}
	&:hover {
		&:after {
			@include triangle(right, #fff, 6);
			@include prem(margin-left, 9);
			@include prem(margin-top, -6);
			top: 50%;
		}
	}
	&.active,
	&:active {
		cursor: default;
		&:after {
			@include triangle(down, #fff, 6);
			@include prem(margin-left, 6);
			@include prem(margin-top, -3);
			top: 50%;
		}
	}
	&:after {
		@include triangle(right, $menuColor, 6);
		@include prem(margin-left, 9);
		@include prem(margin-top, -6);
		top: 50%;
	}
}

.kalei-sheet-submenu {
	ul {
		@include prem(margin, 0);
		@include prem(padding, 0);
	}
	li {
		color: $menuColor;
		cursor: pointer;
		@include font-size(14);
		@include prem(padding, 10 10 10 20);
		span {
			@include inline-block;
			@include max-ellipsis(100%);
		}
		&:hover{
			span {
				text-decoration: underline;
			}
		}
		&.active {
			cursor: default;
			span {
				background: $menuColor;
				border-radius: 12px;
				color: #fff;
				@include prem(padding, 0 8);
				@include prem(margin-left, -8);
			}
			&:hover{
				span {
					text-decoration: none;
				}
			}
		}
	}
}

// KALEI PAGE - end

/*
## Headings and paragraphs
```markup
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p class="fixie"></p>
<ul>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
</ul>

```
*/

/*
## CSS and Comments Layout

These styles make sure the css code block is floated to the right correctly and the comments on the left

```markup
<div class="kalei-page__item">
		<p>This is a test Kalei comment.</p>
</div>
```
*/

/*
## Code demos

When you use Markdown code blocks ```, Kalei automatically renders the code as HTML and beneath it shows the code block with syntax highlighting.
```markup
<pre>
	<code>
		.kalei-css-container > pre > code {
			font-size: 11px;
			opacity: 0.7;
			white-space: pre-wrap;
			padding: 10px;
		}
	</code>
</pre>
```
*/