.phytoplankton-menu {
	background-color: $primary-color;
	@include md-depth(1);
	bottom: 0;
	color: $text-color;
	@include font-size(16);
	overflow-x: hidden;
	overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	width: 25%;
	z-index: 6;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background-color: #eaeaea;
		// border-left: 1px solid #ccc;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background-color: #ccc;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: #aaa;
	}
	@media screen and (max-width: 700px) {
		transform: translate3d(-100%, 0, 0);
		transition: all .25s ease-in-out;
		width: 75%;
		&.is-active {
			transform: translate3d(0, 0, 0);
		}
		@media screen and (orientation: landscape) {
			width: 50%;
		}
	}
	ul,
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	@include depth(1) {
		@media screen and (max-width: 700px) {
			@include font-size(20);
		}
	}
	@include depth(3) {
		a {
			color: $dark-primary-color;
			@include prem(padding, 12 24);
			&:hover {
				text-decoration: underline;
			}
		}
		&.active {
			> a {
				cursor: default;
				font-weight: bold;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	@include depth(4) {
		> a {
			@include prem(padding-left, 48);
		}
		&.active {
			> a {
				color: $dark-primary-color;
				cursor: default;
				font-weight: bold;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.phytoplankton-menu__list {

}

.phytoplankton-menu__list--first {

}

.phytoplankton-menu__list--inner {

}

.phytoplankton-menu__list__item {
	a {
		display: block;
		text-decoration: none;
	}
}

.phytoplankton-menu__list__item__header {
	font-family: $headingFontFamily;
	font-weight: 600;
	@include font-size(20);
	@include prem(padding, 24);
	text-transform: uppercase;
}

.phytoplankton-menu__list__item__subheader {
	color: $light-primary-color;
	@include font-size(18);
	font-family: $headingFontFamily;
	@include prem(padding, 24);
	position: relative;
	.svg-icon,
	span {
		@include inline-block;
		vertical-align: middle;
	}
	.svg-icon {
		@include prem(height, 24);
		@include prem(width, 24);
		path,
		plygon,
		rect {
			fill: $light-primary-color;
		}
	}
	span {
		@include prem(margin-left, 8);
	}
	&:hover {
		color: $text-color;
		.svg-icon {
			path,
			plygon,
			rect {
				fill: $text-color;
			}
		}
	}
	&.is-active,
	&:active {
		background-color: $dark-primary-color;
		color: $text-color;
		cursor: default;
		@include md-depth(1);
		.svg-icon {
			path,
			plygon,
			rect {
				fill: $text-color;
			}
		}
	}
}

ul[data-gumshoe] {
	background-color: $text-color;
	@include prem(padding, 12 0);
}