.phytoplankton-menu {
	background-color: #fafafa;
	@include md-depth(1);
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	@include prem(padding, 16);
	position: fixed;
	top: 0;
	width: 25%;
	&::-webkit-scrollbar {
		@include prem(width, 6);
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 3px;
		background-color: $divider-color;
		&:hover {
			background-color: $disabled-color;
		}
	}
	@media screen and (max-width: 700px) {
		transform: translate3d(-100%, 0, 0);
		transition: all .25s ease-in-out;
		width: 75%;
		&.is-active {
			transform: translate3d(0, 0, 0);
		}
		@media screen and (orientation: landscape) {
			width: 50%;
		}
	}
	ul,
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	@include depth(1) {
		@media screen and (max-width: 700px) {
			@include font-size(20);
		}
	}
	@include depth(2) {
		> ul {
			background-color: $bg-color;
			@include md-depth(1);
			@include prem(margin-bottom, 16);
			@include prem(margin-left, 1);
			@include prem(margin-right, 1);
			@include prem(padding-bottom, 16);
			@include prem(padding-top, 16);
		}
	}
	@include depth(3) {
		@include prem(padding-left, 30);
		@include prem(padding-right, 20);
		a {
			color: $font-color;
			@include prem(padding-bottom, 4);
			@include prem(padding-left, 10);
			@include prem(padding-top, 4);
			&:hover {
				border-left: 1px solid $primary-color;
				color: $primary-color;
				@include prem(padding-left, 9);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $primary-color;
				color: $primary-color;
				cursor: default;
				@include prem(padding-left, 8);
			}
		}
	}
	@include depth(4) {
		> a {
			@include prem(padding-left, 30);
			&:hover {
				@include prem(padding-left, 29);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $primary-color;
				color: $primary-color;
				cursor: default;
				@include prem(padding-left, 28);
			}
		}
	}
}

.phytoplankton-menu__list {
	@include font-size(14);
}

.phytoplankton-menu__list__item {
	a {
		display: block;
		text-decoration: none;
	}
	&.has-triangle {
		> a {
			@include prem(padding, 16);
			@include prem(padding-left, 40);
			position: relative;
			&:before { // triangle
				@include triangle(right, $font-color, 6);
				left: 15px;
				@include prem(margin-top, -6);
				top: 50%;
				transition: all .25s ease-in-out;
			}
			&:hover {
				background-color: $primary-color;
				color: $menu-header-color;
				&:before {
					border-left-color: $menu-header-color;
					transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
			}
			&.active,
			&:active {
				cursor: default;
				&:before { // triangle
					@include triangle(down, $menu-header-color, 6);
					left: 12px;
					@include prem(margin-top, -3);
					transition: none;
				}
				&:hover {
					&:before { // triangle
						transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
					}
				}
			}
		}
	}
}

.phytoplankton-menu__list__item__header {
	@include prem(padding, 16);
	font-weight: 600;
	text-transform: uppercase;
}

.phytoplankton-menu__list__item__subheader {
	color: $font-color;
	&:hover {
		@include md-depth(1);
		z-index: 3;
	}
	&:active {
		@include md-depth(2);
	}
	&.active {
		background-color: $primary-color;
		@include md-depth(1);
		color: $bg-color;
		&:hover {
			@include md-depth(1);
		}
	}
}