.phytoplankton-menu {
	background-color: $menuBgColor;
	@include prem(bottom, 0);
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	@include prem(top, 0);
	z-index: 2;
	width: 25%;
	@media (max-width: 700px) {
		bottom: 0;
		@include prem(top, 60);
		transform: translate3d(-100%, 0, 0);
		transition: all .25s ease-in-out;
		width: 75%;
		&.is-active {
			transform: translate3d(0, 0, 0);
		}
	}
	ul,
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		a {
			color: $menuFontColor;
			display: block;
			text-decoration: none;
			&.active,
			&:active {
				color: $menuFontColor;
			}
			span {
				display: block;
				@include max-ellipsis(100%);
			}
		}
		.has-triangle {
			> a {
				border-bottom: 2px solid $menuFgColor;
				@include prem(padding, 16);
				@include prem(padding-left, 40);
				position: relative;
				&:hover {
					background-color: $linkColor;
					color: $menuFontColor;
					&:before {
						border-left-color: $menuFontColor;
						transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
					}
				}
				&.active,
				&:active {
					background-color: $linkColor;
					cursor: default;
					&:before {
						@include triangle(down, $menuFontColor, 6);
						left: 12px;
						@include prem(margin-top, -3);
						transition: none;
					}
					&:hover {
						&:before {
							transform: rotate(0deg);
							-webkit-transform: rotate(0deg);
						}
					}
				}
				&:before {
					@include triangle(right, $menuFontColor, 6);
					left: 15px;
					@include prem(margin-top, -6);
					top: 50%;
					transition: all .25s ease-in-out;
				}
			}
		}
	}
	.phytoplankton-menu__header {
		background-color: $menuFgColor;
		@include prem(padding, 16);
	}
	@include depth(1) {
		color: $menuFontColor;
		@include font-size(14);
		text-transform: uppercase;
		@media (max-width: 700px) {
			@include font-size(20);
		}
	}
	@include depth(2) {
		text-transform: none;
		> ul {
			@include prem(margin-bottom, 16);
			@include prem(margin-top, 16);
		}
	}
	@include depth(3) {
		@include prem(padding-bottom, 8);
		@include prem(padding-left, 30);
		a {
			color: #969696;
			@include prem(padding-left, 10);
			&:hover {
				border-left: 1px solid $menuFontColor;
				color: $menuFontColor;
				@include prem(padding-left, 9);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $menuFontColor;
				color: $menuFontColor;
				cursor: default;
				@include prem(padding-left, 8);
			}
		}
	}
	@include depth(4) {
		@include prem(padding-top, 8);
		a {
			@include prem(padding-left, 30);
			&:hover {
				@include prem(padding-left, 29);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $menuFontColor;
				color: $menuFontColor;
				cursor: default;
				@include prem(padding-left, 28);
			}
		}
	}
}