.phytoplankton-page {
	float: right;
	@include prem(margin-top, 60);
	overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	padding: 0 8%;
	width: 75%;
	@media screen and (max-width: 700px) {
		padding: 0 4%;
		width: 100%;
		transform: translate3d(0, 0, 0);
		transition: all .25s ease-in-out;
		&.is-active {
			transform: translate3d(75%, 0, 0);
			@media screen and (orientation: landscape) {
				transform: translate3d(50%, 0, 0);
			}
		}
	}
	ul {
		ul {
			list-style-type: disc;
		}
	}
	p, ul, ol, pre, table, blockquote {
		@include sassy-gridlover-margins(true);
	}
	p,
	ol,
	ul { // So it doesn't mess with PrismJs styles on <pre> and <code> blocks
		a {
			color: $linkColor;
			text-decoration: none;
			white-space: normal;
			@include hyphenation;
			&:hover {
				text-decoration: underline;
			}
		}
		code { // Inline <code> blocks
			border-radius: 4px;
			@include inline-block;
			@include sassy-gridlover-body(14, true);
			@include prem(margin-left, 2);
			@include prem(margin-right, 2);
			@include prem(padding-bottom, 2);
			@include prem(padding-left, 4);
			@include prem(padding-top, 2);
			@include prem(padding-right, 4);
			white-space: normal;
			@include hyphenation;
		}
	}
	pre,
	pre[class*="language-"] {
		border-radius: $borderRadiusPx;
		font-size: 14px;
		margin: 0;
		@include prem(margin-bottom, 16);
		+ .code-lang {
			@include prem(margin-top, 20);
		}
	}
	.tabs {
		margin: 0;
		padding: 0;
		position: relative;
		+ pre {
			+ pre {
				display: none;
			}
		}
	}
	.tabs__item {
		@extend .code-lang;
		cursor: pointer;
		@include opacity(.5);
		transition: opacity, .25s, ease-in-out;
		&.is-active {
			// background-color: $linkColor;
			cursor: default;
			@include opacity(1);
			&:hover {
				@include opacity(1);
			}
		}
		&:hover {
			@include opacity(1);
		}
		+ .tabs__item {
			@include prem(margin-left, 10);
		}
	}
}

.phytoplankton-page__item {
	position: relative;
	+ .phytoplankton-page__item {
		border-top: 1px solid #ccc;
		@include prem(margin-top, 50); // margin top + (line height - font size)
	}
}


.code-lang {
	background-color: #343545;
	border-radius: $borderRadiusPx $borderRadiusPx 0 0;
	color: #999;
	font-family: $headerFontFamilyBold;
	@include inline-block;
	@include prem(padding, 8 20);
	text-transform: uppercase;
	+ pre,
	+ pre[class*="language-"] {
		border-radius: 0 $borderRadiusPx $borderRadiusPx $borderRadiusPx;
	}
}

.code-render {
	border: 1px solid #ccc;
	border-bottom: none;
	border-radius: 0 $borderRadiusPx 0 0;
	@include prem(padding, 40);
	position: relative;
	+ pre,
	+ pre[class*="language-"] {
		border-radius: 0 0 $borderRadiusPx $borderRadiusPx;
	}
}

.code-render--hbs {
	@include prem(margin-bottom, -35);
	@include prem(padding-bottom, 70);
	+ .tabs {
		+ pre,
		+ pre[class*="language-"] {
			border-radius: 0 0 $borderRadiusPx $borderRadiusPx;
			+ pre,
			+ pre[class*="language-"] {
				border-radius: 0 0 $borderRadiusPx $borderRadiusPx;
			}
		}
	}
}