.phytoplankton-page {
	float: right;
	@include prem(padding, 24);
	width: 75%;
	@media screen and (max-width: 700px) {
		@include prem(margin-top, 60);
		padding: 0 4%;
		transform: translate3d(0, 0, 0);
		transition: all .25s ease-in-out;
		width: 100%;
		&.is-active {
			transform: translate3d(75%, 0, 0);
			@media screen and (orientation: landscape) {
				transform: translate3d(50%, 0, 0);
			}
		}
	}
	p, ul, ol, pre, table, blockquote {
		@include sassy-gridlover-margins(true);
	}
	p,
	ol,
	ul { // So it doesn't mess with PrismJs styles on <pre> and <code> blocks
		a {
			color: $primary-color;
			text-decoration: none;
			white-space: normal;
			@include hyphenation;
			transition: color, .25s, ease-in-out;
			&:hover {
				text-decoration: underline;
			}
		}
		code { // Inline <code> blocks
			@include inline-block;
			@include sassy-gridlover-body(14, true);
			@include prem(margin-left, 2);
			@include prem(margin-right, 2);
			@include prem(padding-bottom, 2);
			@include prem(padding-left, 4);
			@include prem(padding-top, 2);
			@include prem(padding-right, 4);
			white-space: normal;
			@include hyphenation;
		}
		ul {
			list-style-type: disc;
		}
	}
	pre,
	pre[class*="language-"] {
		font-size: 14px;
		@include md-depth(1);
		@include prem(padding-top, 35);
		&[data-language] {
			&:before {
				@extend .code-lang;
				content: attr(data-language);
				@include font-size(16);
				left: 0;
				position: absolute;
				top: 0;
			}
		}
		&:not([data-language]) {
			@include prem(padding, 16);
		}
	}
	pre {
		@include prem(padding-top, 16);
	}
	table {
		@include md-depth(1);
	}
}

.phytoplankton-page__item {
	border-radius: 2px;
	@include md-depth(1);
	@include prem(padding, 24);
	position: relative;
	> h1 {
		// counter-increment: heading1;
		margin-top: 0;
		// &:before {
		// 	content: counter(heading1) ". ";
		// }
	}
	> h2 {
		// counter-increment: heading2;
		// &:before {
		// 	content: counter(heading1) "." counter(heading2) ". " ;
		// }
	}
	+ .phytoplankton-page__item {
		@include prem(margin-top, 32);
	}
}


.code-lang {
	background-color: #f5f2f0;
	color: #999;
	font-family: $headerFontFamilyBold;
	@include prem(padding, 8 20);
	text-transform: uppercase;
}

.code-render {
	@include md-depth(1);
	@include prem(padding, 75 40 40 40);
	position: relative;
	~ pre {
		margin-top: 0;
	}
	&:before {
		@extend .code-lang;
		content: "Example";
		left: 0;
		position: absolute;
		top: 0;
	}
}

.copy-to-clipboard {
	@extend .code-lang;
	cursor: pointer;
	@include opacity(.5);
	position: absolute;
	top: 0;
	transition: opacity, .25s, ease-in-out;
	right: 0;
	z-index: 1;
	&.zeroclipboard-is-hover {
		@include opacity(1);
	}
}

.phytoplankton-tabs {
	margin: 0 !important;
	@include prem(margin-bottom, -35, !important);
	padding: 0;
	position: relative;
	z-index: 6;
	~ pre {
		display: none;
		margin-top: 0;
		&:before { // Removes extra code-lang tab.
			display: none;
		}
		&.is-active {
			display: block;
		}
	}
}

.phytoplankton-tabs__item {
	@extend .code-lang;
	cursor: pointer;
	@include inline-block;
	@include opacity(.5);
	transition: opacity, .25s, ease-in-out;
	&.is-active {
		cursor: default;
		@include opacity(1);
		&:hover {
			@include opacity(1);
		}
	}
	&:hover {
		@include opacity(1);
	}
}