.phytoplankton-page {
	background-color: #fff;
	float: right;
	@include prem(padding-left, 64);
	@include prem(padding-top, 24);
	@include prem(padding-right, 64);
	width: 75%;
	@media screen and (max-width: 700px) {
		@include prem(margin-top, 60);
		@include prem(padding-left, 24);
		@include prem(padding-right, 24);
		transform: translate3d(0, 0, 0);
		transition: all .25s ease-in-out;
		width: 100%;
		&.is-active {
			transform: translate3d(75%, 0, 0);
			@media screen and (orientation: landscape) {
				transform: translate3d(50%, 0, 0);
			}
		}
	}
	p, ul, ol, pre, table, blockquote {
		@include sassy-gridlover-margins(true);
	}
	p,
	ol,
	ul { // So it doesn't mess with PrismJs styl0 on <pre> and <code> blocks
		a {
			color: $accent-color;
			text-decoration: none;
			white-space: normal;
			@include hyphenation;
			transition: color .25s ease-in-out;
			&:hover {
				color: $dark-primary-color;
				text-decoration: underline;
			}
		}
		code { // Inline <code> blocks
			@include md-depth(1, 2);
			@include inline-block;
			@include sassy-gridlover-body(14, true);
			@include prem(margin-left, 2);
			@include prem(margin-right, 2);
			@include prem(padding-bottom, 2);
			@include prem(padding-left, 4);
			@include prem(padding-top, 2);
			@include prem(padding-right, 4);
			white-space: normal;
			@include hyphenation;
		}
		ul {
			list-style-type: disc;
		}
	}
	pre {
		@include md-depth(1, 2);
		@include font-size(14);
		@include prem(padding-top, 16);
		&:not([class*="language-"]) {
			@include prem(padding, 16);
		}
	}
	// pre[class*="language-"] {
	// 	@include prem(padding-top, $padding-tabs-margin + $padding-tabs);
	// }
	// code {
	// 	&[data-language] {
	// 		&:before {
	// 			@extend .code-lang;
	// 			content: attr(data-language);
	// 			@include font-size(16);
	// 			@include prem(left, -42);
	// 			position: absolute;
	// 			@include prem(top, -42);
	// 		}
	// 	}
	// }
	table {
		@include md-depth(1, 2);
	}
}

.phytoplankton-page__item {
	background-color: #fff;
	// margin-left: 1.5em;
	@include prem(padding, 24 0);
	position: relative;
	> h1,
	> h2 {
		// @include prem(padding-bottom, round(($sgl-base-font-size*$sgl-base-line-height)-($sgl-base-font-size/2)));
		// &:before {
		// 	color: $primary-color;
		// 	@include inline-block;
		// 	font-size: 75%;
		// }
	}
	> h1 {
		// counter-increment: heading1;
		margin-top: 0;
		// &:before {
		// 	content: counter(heading1) ".\00a0";
		// 	margin-left:  -1.5em;
		// 	width: 1.5em;
		// }
	}
	// > h2 {
	// 	counter-increment: heading2;
	// 	&:before {
	// 		content: counter(heading1) "." counter(heading2) ".\00a0" ;
	// 		margin-left:  -2em;
	// 		width: 2em;
	// 	}
	// }
}

.code-lang {
	background-color: $bg-code-color;
	color: #f8f8f2;
	font-family: $headingFontFamily;
	@include prem(padding, $padding-tabs);
	text-transform: uppercase;
	text-shadow: none;
}

.code-render {
	@include md-depth(1);
	border-radius: 2px 2px 0 0;
	@include prem(margin-left, 1);
	@include prem(margin-right, 1);
	@include prem(padding, 75 40 40 40);
	position: relative;
	+ pre {
		border-radius: 0 0 2px 2px;
		margin-top: 0;
	}
	&:before {
		@extend .code-lang;
		border-radius: 2px 0 0 0;
		content: "Example";
		left: 0;
		position: absolute;
		top: 0;
	}
}

.copy-to-clipboard {
	@extend .code-lang;
	cursor: pointer;
	color: rgba(255,255,255,.5);
	position: absolute;
	top: 0;
	transition: color .25s ease-in-out;
	right: 16px;
	z-index: 10;
	+ .copy-to-clipboard {
		display: none;
	}
	&.is-active {
		display: block;
	}
	&.zeroclipboard-is-hover {
		color: rgba(255,255,255, 1);
		.tooltip {
			opacity: 1;
		}
	}
}
