.phytoplankton-header {
	background-color: $menuBgColor;
	border-bottom: 1px solid $menuFgColor;
	color: $bgColor;
	display: none;
	font-family: $headerFontFamily;
	@include font-size(20);
	@include prem(height, 60);
	position: absolute;
	right: 0;
	top: 0;
	width: 75%;
	z-index: 1;
	@media screen and (max-width: 700px) {
		display: block;
		transform: translate3d(0, 0, 0);
		transition: all .25s ease-in-out;
		width: 100%;
		&.is-active {
			transform: translate3d(75%, 0, 0);
			@media screen and (orientation: landscape) {
				transform: translate3d(50%, 0, 0);
			}
		}
	}
	.phytoplankton-menu-icon {
		.phytoplankton-vegan-burger {
			@include inline-block;
		}
	}
}

.phytoplankton-menu-icon {
	cursor: pointer;
	float: left;
	@include font-size(26);
	@include prem(line-height, 60);
	@include prem(padding-left, 10);
	.phytoplankton-vegan-burger {
		@include vegan-burger(25px, 3px, 5px, #fff);
	}
	&.is-active {
		.phytoplankton-vegan-burger {
			@include vegan-burger-to-cross;
		}
	}
}

.phytoplankton-menu-icon__text {
	@include inline-block;
}