@font-face {
  font-family: 'dosisbold';
  src: url("../fonts/dosis-bold-webfont.eot");
  src: url("../fonts/dosis-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-bold-webfont.woff") format("woff"), url("../fonts/dosis-bold-webfont.ttf") format("truetype"), url("../fonts/dosis-bold-webfont.svg#dosisbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dosisregular';
  src: url("../fonts/dosis-book-webfont.eot");
  src: url("../fonts/dosis-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-book-webfont.woff") format("woff"), url("../fonts/dosis-book-webfont.ttf") format("truetype"), url("../fonts/dosis-book-webfont.svg#dosisbook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dosislight';
  src: url("../fonts/dosis-light-webfont.eot");
  src: url("../fonts/dosis-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-light-webfont.woff") format("woff"), url("../fonts/dosis-light-webfont.ttf") format("truetype"), url("../fonts/dosis-light-webfont.svg#dosislight") format("svg");
  font-weight: normal;
  font-style: normal; }
code,
pre,
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
pre,
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code,
pre,
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

code[class*="language-"] a[href],
pre[class*="language-"] a[href] {
  cursor: help;
  text-decoration: none; }

code[class*="language-"] a[href]:hover,
pre[class*="language-"] a[href]:hover {
  cursor: help;
  text-decoration: underline; }

.token a {
  color: inherit; }

code[class*="language-"] a[href].url-link,
pre[class*="language-"] a[href].url-link,
code[class*="language-"] a[href].email-link,
pre[class*="language-"] a[href].email-link,
code[class*="language-"] a[href].md-link,
pre[class*="language-"] a[href].md-link {
  cursor: pointer; }

code[class*="language-"] a[href].url-link:hover,
pre[class*="language-"] a[href].url-link:hover,
code[class*="language-"] a[href].email-link:hover,
pre[class*="language-"] a[href].email-link:hover,
code[class*="language-"] a[href].md-link:hover,
pre[class*="language-"] a[href].md-link:hover {
  cursor: pointer; }

/*

# Buttons

Add `.btn` to any of the following HTML tags to create buttons:

* `<input>`
* `<button>`
* `<a>`

```markup
<!-- Default button -->
<input type="button" class="btn" value="Default">
<button type="button" class="btn">Default</button>
<a href="" class="btn">Default</a>
```

*/
.btn {
  background: #f3f3f3;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  color: #515151;
  cursor: pointer;
  font-family: "dosisregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  line-height: 20px;
  line-height: 1.25rem;
  min-width: 90px;
  min-width: 5.625rem;
  min-width: 80px\9;
  outline: none;
  padding: 4px 14px;
  padding: 0.25rem 0.875rem;
  padding: 4px\9;
  text-align: center;
  vertical-align: middle; }
  .btn + .btn {
    margin: 0px 0px 0px 4px;
    margin: 0rem 0rem 0rem 0.25rem; }
  .btn:hover {
    background: #f2f2f2;
    border: 1px solid #c7c7c7; }
  .btn:active, .btn:focus {
    background: #eaeaea;
    border: 1px solid #c7c7c7; }
  .btn.is-disabled, .btn[disabled] {
    cursor: default;
    opacity: 0.5;
    filter: alpha(opacity=50); }
    .btn.is-disabled:hover, .btn.is-disabled:active, .btn.is-disabled:focus, .btn[disabled]:hover, .btn[disabled]:active, .btn[disabled]:focus {
      background: #f3f3f3;
      border: 1px solid #d9d9d9; }

a.btn {
  text-decoration: none; }

/*

# Modifier classes

Use the modifier classes to apply different styles to buttons.

* `.btn--primary`
* `.btn--secondary`
* `.btn--danger`

```markup
<!-- Default button -->
<button type="button" class="btn">Default</button>

<!-- Used for CTA buttons and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn--primary">Primary</button>

<!-- Highlighted buttons for informational purposes -->
<button type="button" class="btn btn--secondary">Secondary</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn--danger">Danger</button>
```

*/
.btn--primary {
  background: #41b676;
  border: 1px solid #41b676;
  color: white; }
  .btn--primary:hover {
    background: #2ba864;
    border: 1px solid #2ba864; }
  .btn--primary:active, .btn--primary:focus {
    background: #188e4f;
    border: 1px solid #188e4f; }
  .btn--primary.is-disabled:hover, .btn--primary.is-disabled:active, .btn--primary.is-disabled:focus, .btn--primary[disabled]:hover, .btn--primary[disabled]:active, .btn--primary[disabled]:focus {
    background: #41b676;
    border: 1px solid #41b676; }

.btn--secondary {
  background: #5693f4;
  border: 1px solid #5693f4;
  color: white; }
  .btn--secondary:hover {
    background: #287bff;
    border: 1px solid #287bff; }
  .btn--secondary:active, .btn--secondary:focus {
    background: #005cf8;
    border: 1px solid #005cf8; }
  .btn--secondary.is-disabled:hover, .btn--secondary.is-disabled:active, .btn--secondary.is-disabled:focus, .btn--secondary[disabled]:hover, .btn--secondary[disabled]:active, .btn--secondary[disabled]:focus {
    background: #5693f4;
    border: 1px solid #5693f4; }

.btn--danger {
  background: #fd6969;
  border: 1px solid #fd6969;
  color: white; }
  .btn--danger:hover {
    background: #ff4343;
    border: 1px solid #ff4343; }
  .btn--danger:active, .btn--danger:focus {
    background: #ff1915;
    border: 1px solid #ff1915; }
  .btn--danger.is-disabled:hover, .btn--danger.is-disabled:active, .btn--danger.is-disabled:focus, .btn--danger[disabled]:hover, .btn--danger[disabled]:active, .btn--danger[disabled]:focus {
    background: #fd6969;
    border: 1px solid #fd6969; }

/*

Add `.btn--mini` for smaller buttons. Aren't they kinda cute?

```markup
<!-- Mini buttons -->
<button type="button" class="btn btn--mini">Default</button>
<button type="button" class="btn btn--primary btn--mini">Primary</button>
<button type="button" class="btn btn--secondary btn--mini">Secondary</button>
<button type="button" class="btn btn--danger btn--mini">Danger</button>
```

*/
.btn--mini {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1.5;
  padding: 2px 6px;
  padding: 0.125rem 0.375rem;
  min-height: 0;
  min-width: 0; }

/*

# Grouped buttons

Create a list with the `.btn-group` class and add the buttons as items.

```markup
<ul class="btn-group">
	<li>
		<button type="button" class="btn">Default</button>
	</li>
	<li>
		<button type="button" class="btn btn--primary">Default</button>
	</li>
	<li>
		<button type="button" class="btn btn--secondary">Default</button>
	</li>
	<li>
		<button type="button" class="btn btn--danger">Default</button>
	</li>
</ul>
```

*/
.btn-group {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle; }
  .btn-group li {
    float: left; }
  .btn-group .btn {
    margin: 0px 0px 0px -1px;
    margin: 0rem 0rem 0rem -0.0625rem; }

/*

# Mixed buttons

You can easily mix grouped buttons with standalone ones, like so.

```markup
<button type="button" class="btn">Default</button>
<ul class="btn-group">
	<li>
		<button type="button" class="btn btn--primary">Primary</button>
	</li>
	<li>
		<button type="button" class="btn btn--secondary">Secondary</button>
	</li>
</ul>
<button type="button" class="btn btn--danger btn--mini">Danger</button>
```

*/
.btn + .btn-group {
  margin-left: 20px;
  margin-left: 1.25rem; }

.btn-group + .btn {
  margin-left: 20px;
  margin-left: 1.25rem; }

/*

# Reference style sheet

You can take a look at this particular style sheet and take it
into consideration when documenting your own.

<pre data-src="scss/examples/buttons.scss"></pre>

*/
