$baseFontSize: 16;
$baseFontFamily: "Open sans", "Helvetica Neure", Helvetica, Arial, sans-serif;
$headerFontFamily: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFontFamilyBold: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFontFamilyLight: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$codeFont: Consolas, Monaco, "Andale Mono", monospace;