<div class="phytoplankton-page__header">
	<h1 class="phytoplankton-page__header-title"></h1>
	<h2 class="phytoplankton-page__header-url"></h2>
</div>
<% _.each(page.blocks, function(block) {
	if (block.content != ""){
%>
	<article class="phytoplankton-page__item">
		<%= block.content %>
	</article>
<%
		}
	});
%>
<% if(page.css) { %>
	<style type="text/css">
		<%= page.css %>
	</style>
<%
	}
%>
<% _.each(externalStyles, function (url) { %>
	<link rel="stylesheet" type="text/css" href="<%= url %>" />
<% }); %>