// @import "../vendor/bourbon/bourbon";
@import "mixins";
@import "fonts";

$baseFontSize: 16;
$baseFontFamily: "Open sans", Helvetica, Arial, sans-serif;
$headerFontFamily: "dosisregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFontFamilyBold: "dosisbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFontFamilyLight: "dosislight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$codeFont: Consolas, Monaco, "Andale Mono", monospace;

@import "themes/dark";