// @import "../vendor/bourbon/bourbon";
@import "mixins";
@import "fonts";

$baseFontSize: 16;
$baseFontFamily: "Open sans", Helvetica, Arial, sans-serif;
$headerFontFamily: "dosisregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFontFamilyBold: "dosisbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerFontFamilyLight: "dosisblight", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "themes/dark";