@mixin depth($depth: 1) {
	$chain: '';
	@for $i from 0 to $depth {
		$chain: $chain + ' > ul > li';
	}
	& #{$chain} {
		@content;
	}
}

.phytoplankton {
	> div {
		@include prem(margin-top, 120);
	}
	> img {
		background-color: $bgColor;
		@include prem(padding, 20);
		position: absolute;
		left: 20px;
		top: 20px;
		z-index: 1;
	}
	&:before {
		background-color: $linkColor;
		content: " ";
		display: block;
		@include prem(height, 120);
		position: fixed;
		width: 100%;
		z-index: 1;
	}
}

// MENU - start

.phytoplankton-menu {
	height: 100%;
	position: fixed;
	ul,
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		a {
			color: $fontColor;
			display: block;
			text-decoration: none;
			&.active,
			&:active {
				color: $linkColor;
			}
		}
		&.active {
			li {
				a {
					color: $fontColor;
				}
			}
		}
		.has-triangle {
			> a {
				position: relative;
				&:hover {
					color: $linkColor;
					&:before {
						border-left-color: $linkColor;
					}
				}
				&.active,
				&:active {
					cursor: default;
					&:before {
						@include triangle(down, $linkColor, 6);
						left: -23px;
						@include prem(margin-top, -3);
					}
				}
				&:before {
					@include triangle(right, $fontColor, 6);
					left: -20px;
					@include prem(margin-top, -6);
					top: 50%;
				}
			}
		}
	}
	@include depth(1) {
		color: $linkColor;
		@include font-size(22);
		@include prem(margin, 16 0);
		@include prem(padding-left, 40);
		text-transform: uppercase;
	}
	@include depth(2) {
		@include font-size(14);
		@include prem(margin, 16 0);
		@include prem(padding-left, 20);
		text-transform: none;
		> a {
			@include prem(margin-bottom, 16);
		}
	}
	@include depth(3) {
		@include prem(padding-right, 10);
		a {
			@include prem(padding-left, 10);
			@include max-ellipsis(100%);
			&:hover {
				border-left: 1px solid $linkColor;
				@include prem(padding-left, 9);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $linkColor;
				color: $linkColor;
				cursor: default;
				@include prem(padding-left, 8);
			}
		}
	}
	@include depth(4) {
		a {
			@include prem(padding-left, 20);
			&:hover {
				@include prem(padding-left, 19);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $linkColor;
				color: $linkColor;
				cursor: default;
				@include prem(padding-left, 18);
			}
		}
	}
}

.phytoplankton-menu__list--first {
	bottom: 0;
	left: 0;
	list-style-type: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	@include prem(padding-bottom, 20);
	@include prem(padding-top, 28);
	@include prem(padding-left, 20);
	position: absolute;
	right: 0;
	top: 0;
}

// .phytoplankton-menu__list__item__link {
// 	// color: $fontColor;
// 	display: block;
// 	position: relative;
// 	text-decoration: none;
// 	@include max-ellipsis(100%);
// 	&:hover {
// 		color: $linkColor;
// 		text-decoration: none;
// 		&:after { // Triangle on :hover (change of color)
// 			@include triangle(right, $linkColor, 6);
// 		}
// 	}
// 	&:after { // Triangle
// 		@include triangle(right, $fontColor, 6);
// 		@include prem(margin-left, 9);
// 		@include prem(margin-top, -6);
// 		left: 10px;
// 		top: 50%;
// 	}
// 	&.active {
// 		// color: $linkColor;
// 		text-decoration: none;
// 		&:hover {
// 			cursor: default;
// 		}
// 		&:after { // Triangle when .active
// 			@include triangle(down, $linkColor, 6);
// 			@include prem(margin-left, 6);
// 			@include prem(margin-top, -3);
// 		}
// 	}
// 	&:active {
// 		color: $linkColor;
// 		cursor: default;
// 		&:after { // Triangle when :active
// 			@include triangle(down, $linkColor, 6);
// 			@include prem(margin-left, 6);
// 			@include prem(margin-top, -3);
// 			top: 50%;
// 		}
// 	}
// }

// .phytoplankton-sheet-submenu {
// 	li {
// 		cursor: pointer;
// 		@include prem(padding-left, 10);
// 		@include prem(padding-right, 10);
// 		@include prem(margin-left, 40);
// 		&.active {
// 			cursor: default;
// 			border-left: 2px solid $linkColor;
// 			@include prem(padding-left, 8);
// 			&:hover {
// 				border-left: 2px solid $linkColor;
// 				@include prem(padding-left, 8);
// 			}
// 		}
// 		&:hover {
// 			border-left: 1px solid $linkColor;
// 			color: $linkColor;
// 			@include prem(padding-left, 9);
// 		}
// 	}
// }

// MENU - end

// KALEI PAGE - start

.phytoplankton-page {
	@include prem(padding, 0 40);
	h1 {
		border-bottom: 1px solid $linkColor;
		margin-top: 0;
	}
	p,
	ol,
	ul { // So it doesn't mess with PrismJs styles on <pre> and <code> blocks
		a {
			color: $linkColor;
			text-decoration: none;
			white-space: normal;
			@include hyphenation;
			&:hover {
				text-decoration: underline;
			}
		}
		code { // Inline <code> blocks
			background-color: $linkColor;
			border-radius: 4px;
			color: $bgColor;
			@include inline-block;
			@include prem(margin-left, 2);
			@include prem(margin-right, 2);
			@include prem(padding-left, 4);
			@include prem(padding-right, 4);
			white-space: normal;
			@include hyphenation;
		}
	}
}

.phytoplankton-page__item {
	@include prem(padding, 20 40);
	position: relative;
}

.code-render {
	background-color: rgba(244, 244, 244, 0.25);
	border-radius: 4px;
	box-shadow: $boxShadowInsetTop, $boxShadowInsetBottom;
	@include prem(margin-bottom, 16);
	@include prem(padding, 40);
	position: relative;
}

.code-lang {
	background-color: $linkColor;
	border-radius: 4px 4px 0 0;
	color: $bgColor;
	@include inline-block;
	@include prem(padding, 8 20);
	text-transform: uppercase;
	+ pre,
	+ pre[class*="language-"] {
		border-radius: 0 4px 4px 4px;
	}
}

pre,
pre[class*="language-"] {
	border-radius: 4px;
	box-shadow: $boxShadowInsetBottom;
	font-size: 14px;
	margin: 0;
	@include prem(padding, 40);
}
