@mixin depth($depth: 1) {
	$chain: '';
	@for $i from 0 to $depth {
		$chain: $chain + ' > ul > li';
	}
	& #{$chain} {
		@content;
	}
}

.phytoplankton {
	// &:before {
	// 	background-color: $linkColor;
	// 	content: " ";
	// 	display: block;
	// 	@include prem(height, 20);
	// 	position: fixed;
	// 	width: 100%;
	// 	z-index: 1;
	// }
}

.phytoplankton-logo {
	// background-color: $bgColor;
	// @include prem(padding, 20);
	position: fixed;
	// z-index: 1;
	> img {
		@include prem(padding-left, 40);
		@include prem(padding-top, 20);
	}
}

// MENU - start

.phytoplankton-menu {
	background-color: rgba($prismColor, .5);
	font-family: $headerFontFamily;
	// height: 100%;
	bottom: 40px;
	left: 20px;
	right: 20px;
	top: 210px;
	overflow: auto;
	position: fixed;
	.phytoplankton-menu__list--first {
		// @include prem(margin-top, 231);
		// @include prem(padding-top, 90);
	}
	ul,
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		a {
			color: $fontColor;
			display: block;
			text-decoration: none;
			&.active,
			&:active {
				color: $linkColor;
			}
		}
		&.active {
			li {
				a {
					color: $fontColor;
				}
			}
		}
		.has-triangle {
			> a {
				position: relative;
				&:hover {
					color: $linkColor;
					&:before {
						border-left-color: $linkColor;
						transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
					}
				}
				&.active,
				&:active {
					cursor: default;
					&:before {
						@include triangle(down, $linkColor, 6);
						left: -23px;
						@include prem(margin-top, -3);
						transition: none;
					}
					&:hover {
						&:before {
							transform: rotate(0deg);
							-webkit-transform: rotate(0deg);
						}
					}
				}
				&:before {
					@include triangle(right, $fontColor, 6);
					left: -20px;
					@include prem(margin-top, -6);
					top: 50%;
					transition: all .25s ease-in-out;
				}
			}
		}
	}
	@include depth(1) {
		color: $linkColor;
		@include font-size(16);
		@include prem(margin, 16 0);
		@include prem(padding-left, 20);
		@include prem(padding-right, 20);
		text-transform: uppercase;
	}
	@include depth(2) {
		@include prem(margin, 16 0);
		@include prem(padding-left, 20);
		text-transform: none;
		> a {
			@include prem(margin-bottom, 16);
		}
	}
	@include depth(3) {
		// @include prem(padding-right, 20);
		a {
			@include prem(padding-left, 10);
			@include max-ellipsis(100%);
			&:hover {
				border-left: 1px solid $linkColor;
				@include prem(padding-left, 9);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $linkColor;
				color: $linkColor;
				cursor: default;
				@include prem(padding-left, 8);
			}
		}
	}
	@include depth(4) {
		a {
			@include prem(padding-left, 20);
			&:hover {
				@include prem(padding-left, 19);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $linkColor;
				color: $linkColor;
				cursor: default;
				@include prem(padding-left, 18);
			}
		}
	}
}

// .phytoplankton-menu__list--first {
// 	bottom: 0;
// 	left: 0;
// 	list-style-type: none;
// 	margin: 0;
// 	overflow-x: hidden;
// 	overflow-y: auto;
// 	position: absolute;
// 	right: 0;
// 	top: 0;
// }

// MENU - end

// KALEI PAGE - start

.phytoplankton-page {
	// @include font-size(20);
	// @include prem(margin-top, 20);
	// @include prem(padding, 0 40);
	h1 {
		color: $linkColor;
		// border-bottom: 1px solid $linkColor;
		margin-top: 0;
	}
	h2 {
		color: $linkColor;
	}
	p,
	ol,
	ul { // So it doesn't mess with PrismJs styles on <pre> and <code> blocks
		a {
			color: $linkColor;
			text-decoration: none;
			white-space: normal;
			@include hyphenation;
			&:hover {
				text-decoration: underline;
			}
		}
		code { // Inline <code> blocks
			// background-color: $fontColor;
			border-radius: 4px;
			// color: $bgColor;
			@include inline-block;
			@include prem(margin-left, 2);
			@include prem(margin-right, 2);
			@include prem(padding-left, 4);
			@include prem(padding-right, 4);
			// text-shadow: 0 1px $fontColor;
			white-space: normal;
			@include hyphenation;
		}
	}
}

.phytoplankton-page__item {
	padding: 2% 20%;
	position: relative;
}

.code-render {
	background-color: rgba(244, 244, 244, 0.25);
	border-radius: 4px;
	box-shadow: $boxShadowInsetTop, $boxShadowInsetBottom;
	@include prem(margin-bottom, 16);
	@include prem(padding, 40);
	position: relative;
}

.code-lang {
	background-color: $linkColor;
	border-radius: 4px 4px 0 0;
	color: $bgColor;
	font-family: $headerFontFamilyBold;
	@include inline-block;
	@include prem(padding, 8 20);
	text-transform: uppercase;
	+ pre,
	+ pre[class*="language-"] {
		border-radius: 0 4px 4px 4px;
	}
}

pre,
pre[class*="language-"] {
	border-radius: 4px;
	// box-shadow: $boxShadowInsetBottom;
	font-size: 14px;
	margin: 0;
	@include prem(padding, 40);
}
