/*
# Hola

```markup
<div class="hola">Hola</div>
```

*/

$div-hola-color: red;
.hola {
	color: $div-hola-color;
}

/*
# Adéu

```markup
<div class="adeu">Hola</div>
```

*/

$div-adeu-color: blue;
.adeu {
	color: $div-adeu-color;
}
