$baseFontFamily: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingFontFamily: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingFontFamilyBold: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingFontFamilyLight: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
$codeFont: Consolas, Monaco, "Andale Mono", monospace;