.phytoplankton-tabs {
	background-color: $bg-code-color;
	color: $text-code-color;
	list-style-type: none;
	margin: 0 !important;
	@include prem(padding-left, $padding-tabs * 2);
	position: relative;
	text-transform: uppercase;
	z-index: 2;
	~ pre {
		border-radius: 0 0 2px 2px;
		display: none;
		margin-top: 0 !important;
		padding-top: 0 !important;
		&.is-active {
			display: block;
		}
	}
}

.phytoplankton-tabs__item {
	cursor: pointer;
	@include inline-block;
	opacity: .5;
	transition: opacity .25s ease-in-out;
	@include prem(padding, $padding-tabs);
	&.is-active {
		cursor: default;
		opacity: 1;
	}
	&:hover {
		opacity: 1;
	}
}