.phytoplankton-tabs {
	background-color: $bg-code-color;
	margin: 0 !important;
	padding: 0;
	@include prem(padding-left, 16);
	position: relative;
	z-index: 2;
	~ pre {
		border-radius: 0 0 2px 2px;
		display: none;
		margin-top: 0;
		padding-top: 0;
		code {
			&:before { // Removes extra code-lang tab.
				display: none;
			}
		}
		&:before { // Removes extra code-lang tab.
			display: none;
		}
		&.is-active {
			display: block;
		}
	}
}

.phytoplankton-tabs__item {
	@extend .code-lang;
	cursor: pointer;
	color: rgba(255,255,255,.5);
	@include inline-block;
	transition: color .25s ease-in-out;
	&.is-active {
		cursor: default;
		color: rgba(255,255,255, 1);
		&:hover {
			color: rgba(255,255,255, 1);
		}
	}
	&:hover {
		color: rgba(255,255,255, 1);
	}
}