/*
# Sass Example

Here you have a little example to see [Sass](http://sass-lang.com/) working on the browser thanks to [sass.js](https://github.com/medialize/sass.js).

```markup
<div class="box">
	<p class="fixie"></p>
</div>
```

 */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

$font-stack: Helvetica, sans-serif;
$primary-color: #b000b5;

.box {
	border: 1px solid #ccc;
	@include border-radius(10px);
	padding: 40 / 2 * 1px;
	p {
		font-family: $font-stack;
		color: $primary-color;
	}
}