// Mixin for each color  of the color palette

@mixin colors ($color) {
	.ms-WPTitle {
		span {
		 color: $color;
		}
	}
	.ms-bodyareacell table tr td.ms-disc-bordered-noleft > div > b {
		color: $color;
	}
	.group-header-notification-color {
		background-color: $color;
	}
	#group-header-logo {
		img {
			background-color: $color;
		}
	}
	#group-invite {
		.group-invite-title {
			background-color: $color;
		}
	}
	.webpart-title {
		color: $color;
	}
}

$fontColor: #515151;
$fontDimmedColor: #717171;
$headingColor: #474747;
$bgGrey: #f0f0f0;
$bgGreyHighlight: darken($bgGrey, 2%);
$bgGreyHover: darken($bgGrey, 0.1%);
$bgGreyText: darken($bgGrey, 34%);
$borderGrey: darken($bgGrey, 10%);
$iconGrey: lighten($fontColor, 50%);
$anchorColor: #0090d4;
$bgThNotification: #f9f9f9;
$ribbonActiveColor: #7bc24c;
$ribbonInactiveColor: #a09f9f;
$ribbonInSessionColor: #e34f4f;
$placeholderColor: #adadad;
$errorColor: #fc5656;
$townhallsColor: #872663;
