@mixin depth($depth: 1) {
	$chain: '';
	@for $i from 0 to $depth {
		$chain: $chain + ' > ul > li';
	}
	& #{$chain} {
		@content;
	}
}

.phytoplankton-wrapper {
	margin: 0 auto;
	max-width: 40em;
}

.phytoplankton-wrapper--small {
	margin: 0 auto;
	max-width: 80%;
	@media (max-width: 700px) {
		max-width: 100%;
	}
}


// TOP BAR - start

.phytoplankton-header {
	background-color: $linkColor;
	color: $bgColor;
	font-family: $headerFontFamily;
	@include font-size(20);
	@include prem(height, 60);
	position: fixed;
	width: 100%;
	z-index: 1;
}

.phytoplankton-menu-icon {
	display: none;
	cursor: pointer;
	float: left;
	@include prem(padding, 10);
	&:before {
		content:"\2630";
		@include prem(margin-left, -8);
		@include prem(margin-right, 5);
	}
	@media (max-width: 700px) {
		display: block;
		@include font-size(24);
	}
}

.phytoplankton-menu-title {
	@include prem(padding, 15);
	@media (max-width: 700px) {
		float: right;
	}
}

// TOP BAR - end

// MENU - start

.phytoplankton-menu {
	background-color: rgba($prismColor, 1);
	border: 1px solid rgba($codeBorderColor, 1);
	border-radius: 4px;
	@include prem(bottom, 30);
	// display: none;
	font-family: $headerFontFamily;
	// left: -75%;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	@include prem(top, 90);
	// right: 25%;
	z-index: 2;
	// margin: 0 auto;
	// width: 40em;
	width: 25%;
	@media (max-width: 700px) {
		bottom: 0;
		@include prem(top, 60);
		transform: translate3d(-100%, 0, 0);
		transition: all .25s ease-in-out;
		width: 75%;
		&.is-active {
			// display: block;
			transform: translate3d(0, 0, 0);
			// left: 0;
		}
	}
	ul,
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		a {
			color: $fontColor;
			display: block;
			text-decoration: none;
			&.active,
			&:active {
				color: $linkColor;
			}
			span {
				display: block;
				@include max-ellipsis(100%);
			}
		}
		&.active {
			li {
				a {
					color: $fontColor;
				}
			}
		}
		.has-triangle {
			> a {
				position: relative;
				&:hover {
					color: $linkColor;
					&:before {
						border-left-color: $linkColor;
						transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
					}
				}
				&.active,
				&:active {
					cursor: default;
					&:before {
						@include triangle(down, $linkColor, 6);
						left: -23px;
						@include prem(margin-top, -3);
						transition: none;
					}
					&:hover {
						&:before {
							transform: rotate(0deg);
							-webkit-transform: rotate(0deg);
						}
					}
				}
				&:before {
					@include triangle(right, $fontColor, 6);
					left: -20px;
					@include prem(margin-top, -6);
					top: 50%;
					transition: all .25s ease-in-out;
				}
			}
		}
	}
	@include depth(1) {
		color: $linkColor;
		@include font-size(16);
		@include prem(margin, 16 0);
		@include prem(padding-left, 20);
		@include prem(padding-right, 20);
		text-transform: uppercase;
		@media (max-width: 700px) {
			@include font-size(20);
		}
	}
	@include depth(2) {
		@include prem(margin, 16 0);
		@include prem(padding-left, 20);
		text-transform: none;
		> a {
			@include prem(margin-bottom, 16);
		}
	}
	@include depth(3) {
		@include prem(padding-bottom, 8);
		a {
			@include prem(padding-left, 10);
			&:hover {
				border-left: 1px solid $linkColor;
				@include prem(padding-left, 9);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $linkColor;
				color: $linkColor;
				cursor: default;
				@include prem(padding-left, 8);
			}
		}
	}
	@include depth(4) {
		@include prem(padding-top, 8);
		a {
			@include prem(padding-left, 30);
			&:hover {
				@include prem(padding-left, 29);
			}
		}
		&.active {
			> a {
				border-left: 2px solid $linkColor;
				color: $linkColor;
				cursor: default;
				@include prem(padding-left, 18);
			}
		}
	}
}

// MENU - end

// KALEI PAGE - start

.phytoplankton-page {
	// float: right;
	@include prem(margin-top, 60);
	margin-left: 30%;
	width: 75%;
	@media (max-width: 700px) {
		// float: none;
		margin-left: 0;
		// @include prem(margin-top, 40);
		width: 100%;
	}
	h1 {
		color: $linkColor;
		margin-top: 0;
		// font-size: 1.5em;
	}
	h2 {
		color: $linkColor;
	}
	p,
	ol,
	ul { // So it doesn't mess with PrismJs styles on <pre> and <code> blocks
		a {
			color: $linkColor;
			text-decoration: none;
			white-space: normal;
			@include hyphenation;
			&:hover {
				text-decoration: underline;
			}
		}
		code { // Inline <code> blocks
			border-radius: 4px;
			@include inline-block;
			@include prem(margin-left, 2);
			@include prem(margin-right, 2);
			@include prem(padding-left, 4);
			@include prem(padding-right, 4);
			white-space: normal;
			@include hyphenation;
		}
	}
}

.phytoplankton-page__item {
	padding: 3% 10%;
	padding-bottom: 0;
	position: relative;
	// + .phytoplankton-page__item {
	// 	@include prem(padding-top, 20);
	// }
	@media (max-width: 400px) {
		padding: 6%;
		padding-bottom: 0;
	}
}


.code-lang {
	background-color: $linkColor;
	border-radius: 4px 4px 0 0;
	color: $bgColor;
	font-family: $headerFontFamilyBold;
	@include inline-block;
	@include prem(padding, 8 20);
	text-transform: uppercase;
	+ pre,
	+ pre[class*="language-"] {
		border-radius: 0 4px 4px 4px;
	}
}

.code-render {
	border: 1px solid $codeBorderColor;
	border-bottom: none;
	border-radius: 0 4px 0 0;
	@include prem(padding, 40);
	position: relative;
	+ pre,
	+ pre[class*="language-"] {
		border-radius: 0 0 4px 4px;
	}
}

.code-render--hbs {
	@include prem(margin-bottom, -40);
	@include prem(padding-bottom, 80);
	+ .tabs {
		.tabs__item {
			border-radius: 0 4px 0 0;
			+ .tabs__item {
				border-radius: 4px 4px 0 0;
			}
		}
		+ pre,
		+ pre[class*="language-"] {
			border-radius: 0 0 4px 4px;
			+ pre,
			+ pre[class*="language-"] {
				border-radius: 0 0 4px 4px;
			}
		}
	}
}

pre,
pre[class*="language-"] {
	border: 1px solid $codeBorderColor;
	border-radius: 4px;
	font-size: 14px;
	margin: 0;
	@include prem(padding, 20);
	+ .code-lang {
		@include prem(margin-top, 20);
	}
}

.tabs {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
	+ pre {
		+ pre {
			display: none;
		}
	}
}

.tabs__item {
	@extend .code-lang;
	cursor: pointer;
	@include opacity(.5);
	&.is-active {
		background-color: $linkColor;
		cursor: default;
		@include opacity(1);
		&:hover {
			@include opacity(1);
		}
	}
	&:hover {
		@include opacity(1);
	}
	+ .tabs__item {
		@include prem(margin-left, 10);
	}
}