<div class="phytoplankton-top-bar">
	PHYTOPLANKTON - living style guide
</div>
<div class="phytoplankton-logo">
	<img src="img/phytoplankton-logo.png" alt="Phytoplankton - Living Style Guide" title="Phytoplankton - Living Style Guide" />
</div>
<div class="phytoplankton-logo2">
	<span class="phytoplankton-logo2__title">Phyto<br>plank<br>ton</span>
	<span class="phytoplankton-logo2__subtitle">living style guide</span>
</div>
<div class="phytoplankton-menu grid-1-4 pull-left js-phytoplankton-menu">
	Loading
</div>
<div class="phytoplankton-page grid-3-4 pull-right"></div>