/* $anchorColor: #00a7f1; */
/*

# Autocomplete

```markup
<input type="text" />
<div class="bz-webpart autocomplete">
	<ul>
		<li class="autocomplete__item">
			Hola
		</li>
		<li class="autocomplete__item">
			Hola
		</li>
	</ul>
</div>
```

*/
.autocomplete {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 260px;
  max-height: 16.25rem;
  overflow-y: auto; }

.autocomplete--top {
  border-bottom: 0; }

.autocomplete--bottom {
  border-top: 0; }

.autocomplete__item {
  padding: 4px;
  padding: 0.25rem; }
  .autocomplete__item:before, .autocomplete__item:after {
    content: "";
    display: table; }
  .autocomplete__item:after {
    clear: both; }
  .autocomplete__item:hover {
    background-color: #f0f0f0;
    cursor: pointer; }
  .autocomplete__item.is-selected {
    background-color: #f0f0f0; }
  .autocomplete__item img {
    height: 100%; }

.autocomplete__item__name {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1.5; }

.autocomplete__item__email {
  color: #999999;
  display: block;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1.5; }

.filter-autocomplete__item {
  padding: 10px;
  padding: 0.625rem; }
  .filter-autocomplete__item:before, .filter-autocomplete__item:after {
    content: "";
    display: table; }
  .filter-autocomplete__item:after {
    clear: both; }
  .filter-autocomplete__item + .filter-autocomplete {
    padding: 0px 10px 10px 10px;
    padding: 0rem 0.625rem 0.625rem 0.625rem; }
