$bgColor: #fff;
$blockquoteColor: #ccc;
$codeBgColor: #3D3F52;
$codeFgColor: #343545;
$fontColor: #282828;
// $menuBgColor: $fontColor;
$menuBgColor: $codeBgColor;
// $menuFgColor: #1e1e1e;
$menuFgColor: $codeFgColor;
$menuFontColor: $bgColor;
// $linkColor: #0090d4;
$linkColor: #22D400;
$linkColorActive: darken($linkColor, 9);