$bg-color: #fff;
$font-color: rgba(0,0,0,.87);
$blockquote-color: rgba(0,0,0,.54);
$divider-color: rgba(0,0,0,.12);
$primary-color: #3f51b5;
$secondary-color: #303f9f;
$tertiary-color: #c5cae9;
$menu-header-color: $bg-color;