@mixin font-size($sizeValue: $baseFontSize, $lineValue:$sizeValue * $baseLineHeight) {
	font-size: $sizeValue + px;
	line-height: $lineValue + px;
	font-size: ($sizeValue / $baseFontSize) + rem;
	line-height: ($lineValue / $baseFontSize) + rem;
}

@function pem($pxval, $base: $baseFontSize) {
	@return #{$pxval / $base}em;
}

@function prem($pxval, $base: $baseFontSize) {
	@return #{$pxval / $base}rem;
}

@mixin prem($property, $values, $important: false, $base-font-size: $baseFontSize) {
	$px-values: ();
	$rem-values: ();

	@each $value in $values {
		@if type-of($value) == number {
			$px-values: join($px-values, #{$value}px);
			$rem-values: join($rem-values, #{$value / $base-font-size}rem);
		}
	}

	@if $important == "!important" {
		#{$property}: $px-values $important;
		#{$property}: $rem-values $important;
	} @else {
		#{$property}: $px-values;
		#{$property}: $rem-values;
	}
}

@mixin triangle($direction, $color, $height, $width: $height) {

	@if $direction == "left" {
		border-bottom: $height + px solid transparent;
		border-right: $width + px solid $color;
		border-top: $height + px solid transparent;
	}
	@else if $direction == "right" {
		border-bottom: $height + px solid transparent;
		border-left : $width + px solid $color;
		border-top: $height + px solid transparent;
	}
	@else if $direction == "up" {
		border-bottom: $height + px solid $color;
		border-left: $width + px solid transparent;
		border-right: $width + px solid transparent;
	}
	@else if $direction == "down" {
		border-right: $width + px solid transparent;
		border-left: $width + px solid transparent;
		border-top: $height + px solid $color;
	}

	content: " ";
	height: 0;
	position: absolute;
	width: 0;

}

@mixin opacity($opacity) {
	opacity: $opacity;
	filter: unquote("alpha(opacity=#{$opacity * 100})");
}

@mixin ellipsis() {
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin max-ellipsis($maxWidth) {
	@if unitless($maxWidth) == true {
		@include prem(max-width, $maxWidth);
	}
	@else {
		max-width: $maxWidth;
	}
	@include ellipsis;
	word-wrap: normal;
}

@mixin hyphenation() {
	-ms-word-break: break-all;
		 word-break: break-all;

	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
			-moz-hyphens: auto;
		-ms-hyphens: auto;
				hyphens: auto;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	box-sizing: $box-model;
}

@mixin cf() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin clearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin btnColor ($bg-color, $textColor) {

	$hoverColor: saturate(darken($bg-color, 7), 12);
	$activeColor: darken(saturate(adjust-hue($bg-color, 1), 24), 16);

	background: $bg-color;
	border: 1px solid $bg-color;
	color: $textColor;
	&:hover {
		background: $hoverColor;
		border: 1px solid $hoverColor;
	}
	&:active,
	&:focus {
		background: $activeColor;
		border: 1px solid $activeColor;
	}
	&.is-disabled,
	&[disabled] {
		&:hover,
		&:active,
		&:focus {
			background: $bg-color;
			border: 1px solid $bg-color;
		}
	}
}

@mixin inline-block {
	display: inline-block;
	vertical-align: baseline;
	zoom: 1;
	*display: inline;
	*vertical-align: auto;
}

@mixin box-sizing($box-type) {
	-webkit-box-sizing: $box-type;
	-moz-box-sizing: $box-type;
	box-sizing: $box-type;
}

@mixin depth($depth: 1) {
	$chain: '';
	@for $i from 0 to $depth {
		$chain: $chain + ' > ul > li';
	}
	& #{$chain} {
		@content;
	}
}

@mixin md-depth($level, $border-radius: 0) {

	@if $border-radius >= 1 {
		border-radius: $border-radius * 1px;
	}

	@if $level == 0 {
		box-shadow: none;
	}

	@if $level == 1 {
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
	}
	@else if $level == 2 {
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .19), 0 8px 17px 0 rgba(0, 0, 0, .2);
	}
	@else if $level == 3 {
		box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .19), 0 12px 15px 0 rgba(0, 0, 0, .24);
	}
	@else if $level == 4 {
		box-shadow: 0 25px 55px 0 rgba(0, 0, 0, .21), 0 16px 28px 0 rgba(0, 0, 0, .22);
	}
	@else if $level == 5 {
		box-shadow: 0 40px 77px 0 rgba(0, 0, 0, .22), 0 27px 24px 0 rgba(0, 0, 0, .2);
	}

	position: relative;
	z-index: $level;

	// @if $level == 1 {
	// 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	// }
	// @else if $level == 2 {
	// 	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	// }
	// @else if $level == 3 {
	// 	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	// }
	// @else if $level == 4 {
	// 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	// }
	// @else if $level == 5 {
	// 	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	// }
}