* {
	@include box-sizing(border-box);
	&:before,
	&:after {
		@include box-sizing(border-box);
	}
}

html {
	background-color: $bgColor;
	color: $fontColor;
	font-family: $baseFontFamily;
	@media (max-width: 400px) {
		@include font-size(14);
	}
}

body {
	counter-reset: heading1;
	@include sassy-gridlover-body($baseFontSize, true);
}

h1 {
	@include sassy-gridlover-heading(3, true);
	font-weight: 600;
}
h2 {
	@include sassy-gridlover-heading(2, true);
	font-weight: 600;
}

code,
kbd,
pre,
samp {
	font-family: $codeFont;
}

pre {
	position: relative;
}

blockquote {
	border-left: 4px solid $blockquoteColor;
	color: #777;
	@include prem(margin, 40);
	@include prem(padding-left, 12);
	p {
		display: inline;
	}
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}

table {
	width: 100%;
}

td, th {
	border: 1px solid #ccc;
	@include prem(padding, 8);
}

// Hack to solve extra line number on code blocks.
// Prism's Line Number plugin.
// This is a "feature" that doesn't
// come with the default plugin.
.line-numbers-rows {
	> span {
		&:last-child {
			display: none;
		}
	}
}