html {
	@include box-sizing(border-box);
	overflow-x: hidden;
}

*, *:before, *:after {
	@include box-sizing(inherit);
}

body {
	color: $primary-text-color;
	// counter-reset: heading1;
	font-family: $baseFontFamily;
	@include sassy-gridlover-body($sgl-base-font-size, true);
	overflow-x: hidden;
	@media (max-width: 400px) {
		@include font-size(14);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingFontFamily;
}

h1 {
	@include sassy-gridlover-heading(3, true);
	font-weight: 600;
}
h2 {
	@include sassy-gridlover-heading(2, true);
	font-weight: 600;
}

code,
kbd,
pre,
samp {
	font-family: $codeFont;
}

pre {
	position: relative;
}

blockquote {
	border-left: 4px solid $divider-color;
	color: $divider-color;
	@include prem(margin, 40);
	@include prem(padding-left, 12);
	p {
		display: inline;
	}
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}

table {
	width: 100%;
	&.stacktable {
		&.small-only {
			display: none;
			tbody {
				tr {
					&:first-child {
						display: none;
					}
				}
			}
			@media screen and (max-width: 700px) {
				display: table;
			}
		}
		&.large-only {
			display: table;
			@media screen and (max-width: 700px) {
				display: none;
			}
		}
	}
}

td, th {
	border: 1px solid #ccc;
	@include prem(padding, 8);
}
