/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
	height: 1em;
	vertical-align: middle;
	width: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
	fill: #4691f6;
}

.svg-icon circle {
	stroke: #4691f6;
	stroke-width: 1;
}