$baseFontFamily: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingFontFamily: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingFontFamilyBold: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingFontFamilyLight: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$codeFont: Consolas, Monaco, "Andale Mono", monospace;